.root {
    -fx-text-base-color: rgb(252.0, 240.0, 237.0);
    -fx-text-fill: -fx-text-base-color;

     -dark: rgb(47.0, 52.0, 57.0);
     -fx-background-color: -dark;

    /*default font */
    -fx-font-family: 'Helvetica Neue';
    -fx-font-size: 29.0px;
    -fx-font-weight: 600;
    -fx-disabled-opacity: 0.6;

    -flatter-red: rgb(237.0, 68.0, 37.0);
    -flatter-blue: rgb(0.0, 184.0, 222.0);

    -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;
}

.base-scene-root{
    -fx-border-color: transparent;
    -fx-border-width: 0.0;
}

.mnemonic-underline {
    -fx-stroke: transparent;
}

.header > .title-label,
.header > .title-box > .title-label{
    -fx-font-size: 2.5em;
    -fx-text-fill: -fx-text-base-color;
}

.header > .small-title-label,
.header > .title-box > .small-title-label{
    -fx-font-size: 1.5em;
    -fx-text-fill: -fx-text-base-color;
}

.text {
    -fx-font-smoothing-type: lcd;
}

.emoji-text {
    -fx-fill: -fx-text-base-color;
}

/**** size variants **********************************************************/
.size-variant-touch {
    -fx-font-size: 9.0;
}

.size-variant-desktop {
    -fx-font-size: 16.0;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.label {
    -fx-text-fill: -fx-text-base-color;
}

.label:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.label:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
}

.text {
    -fx-effect:dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0);
}

/*******************************************************************************
 *                                                                             *
 * Button & ToggleButton                                                       *
 *                                                                             *
 ******************************************************************************/
.image-button{
	-fx-padding: 5 15 5 15;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.toggle-button, .button{
    -fx-background-color: -flatter-red;
    -fx-background-insets:  0.0;
    -fx-background-radius: 2.0;
    -fx-border-width: 0.0;
    -fx-padding: 0.7em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.toggle-button:focused,
.button:focused,
.button:default:focused {
    /*-fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;*/
}
.toggle-button:hover,
.button:hover,
.button:default:hover {
       -fx-background-color: derive(-flatter-red, 50.0%);
}

.toggle-button:focused:selected {
       -fx-background-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
       -fx-background-insets: 0.0, 0.2em;
}

.toggle-button:armed,
.toggle-button:selected,
.button:armed,
.button:default:armed {
     -fx-background-color: derive(-flatter-red, -20.0%);
}


/*******************************************************************************
 *                                                                             *
 * TextField & TextArea                                                        *
 *                                                                             *
 ******************************************************************************/

.text-area , .text-field {
    -fx-background-color: white;
    -fx-background-insets:  0.0;
    -fx-background-radius: 2.0;
    -fx-padding: 0.7em;
    -fx-border-width: 0.0;
    -fx-prompt-text-fill: derive(-dark, 50.0%);
    -fx-highlight-fill: rgb(94.0, 203.0, 234.0);
}

.text-area .text, .text-field > * > .text {
    -fx-effect: null;
    -fx-fill: -dark;
}

.text-area {
    -fx-padding: 0.15em;
}

.text-area .content {
    -fx-padding: 0.7em;
    -fx-border-width: 0.0;
    -fx-background-color: transparent;
}

.text-area:focused  .content {
     -fx-background-color: transparent;
         -fx-fill: -dark;
}
.text-area:focused, .text-field:focused {
    -fx-background-color: -flatter-blue, derive(rgb(94.0, 203.0, 234.0), 80.0%);
    -fx-background-insets: 0.0, 0.2em;
    -fx-background-radius: 2.0;
    -fx-fill: -dark;
}

.scroll-bar:vertical > .track-background,
.scroll-bar:horizontal > .track-background{
    -fx-background-color: derive(rgb(94.0, 203.0, 234.0), 50.0%);
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb,
.scroll-bar:horizontal > .thumb {
    -fx-background-color: -flatter-blue;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button,
.scroll-bar:hover > .increment-button,
.scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: white;
}

.scroll-bar > .track-background{
    -fx-background-color:transparent;
}



/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/
.combo-box-base {
    /*-fx-skin: "com.guigarage.flatterfx.skin.FlatterComboBoxSkin";*/
}
.title-bar:default:focused{
    -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;
}
.title-bar:default:selected{
    -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;
}
.title-bar:default:hover{
    -fx-background-color: derive(-flatter-red, 50.0%);
}

.popup-overlay {
    -fx-background-color: -flatter-red;
    -fx-border-color: -flatter-red, rgb(255.0, 255.0, 255.0, 0.6);
    -fx-border-width: 8.0;
    -fx-background-radius:20.0;
    -fx-border-radius:15.5, 15.5;
}

.title-bar {
    -fx-padding: 10;
}

.title-bar .icon {
    -fx-alignment: center-left;
    -fx-effect:dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0);
}

.title-bar .title-label {
    -fx-padding: 0 10 0 10;
    -fx-alignment: center;
    -fx-font-size: 36;
    -fx-font-weight: bolder;
}

.content-area {
    -fx-background-color: -dark;
}


.content-background {
    -fx-background-color: -flatter-red;
    -fx-background-radius:0.0 0.0 11.0 11.0;
    -fx-padding: 0 10 10 10;
}


/*******************************************************************************
 *                                                                             *
 * ChoiceBox                                                                   *
 *                                                                             *
 ******************************************************************************/
.combo-box-base,
.choice-box {
    -fx-background-color: -flatter-red;
    -fx-background-insets:  0.0;
    -fx-background-radius: 2.0;
    -fx-border-width: 0.0;
}

.combo-box-base > .label,
.choice-box > .label {
    -fx-padding:0.7em 1.7em 0.7em 0.7em;
}

.combo-box-base > .arrow-button,
.choice-box > .open-button {
    -fx-padding: 1.2em 0.7em 1.2em 0.5em;
    -fx-background-radius: 0.0 2.0 2.0 0.0;
}

.combo-box-base:focused,
.choice-box:focused{
    -fx-background-color: derive(-flatter-red, 50.0%);
}

.combo-box-base > .arrow-button > .arrow,
.choice-box > .open-button > .arrow {
    -fx-background-color: white;
    -fx-padding: 0.2em;
    -fx-effect:dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0);
}

.context-menu {
    -fx-background-color: rgb(255.0, 255.0, 255.0, 0.95);
    -fx-background-radius: 2.0;
}

.context-menu .label {
    -fx-text-fill: -dark;
}

.radio-menu-item:checked > .left-container > .radio,
.check-menu-item:checked > .left-container > .check {
    -fx-background-color: -dark;
    -fx-shape: "m 269.9,233.66286 c 0.15,-0.12 1.97,1.7 2.54,3.1 2.3,-7.33 4.09,-9.1 6.79,-12.1 1.5,-0.25 2.4,-0.27 4.36,0.11 -7.1,5.8 -8.8,16.7 -9.9,17.8 l -0.75,0.02 c 0,0 -2.36,-5.24 -5.6,-7.38 -0.27,-0.17 0.02,-1.5 -0.2,-1.6 z";
    -fx-padding: 0.68em 0.5em 0.0em 0.0em;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0);
}

.radio-menu-item > .left-container > .radio,
.check-menu-item > .left-container > .check {
    -fx-background-color: transparent;
    -fx-shape: "m 269.9,233.66286 c 0.15,-0.12 1.97,1.7 2.54,3.1 2.3,-7.33 4.09,-9.1 6.79,-12.1 1.5,-0.25 2.4,-0.27 4.36,0.11 -7.1,5.8 -8.8,16.7 -9.9,17.8 l -0.75,0.02 c 0,0 -2.36,-5.24 -5.6,-7.38 -0.27,-0.17 0.02,-1.5 -0.2,-1.6 z";
    -fx-padding: 0.68em 0.68em 0.0em 0.0em;
}

.menu-item:focused {
    -fx-background-color: rgb(94.0, 203.0, 234.0);
}


/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.check-box {
    -fx-text-fill: -fx-text-base-color;
}

.check-box > .box,
.check-box > .box.unfocused,
.check-box:disabled > .box,
.check-box:selected > .box,
.check-box:indeterminate > .box {
    -fx-background-radius: 2.0;
    -fx-background-color: -fx-text-base-color;
}

.check-box:focused > .box {
    -fx-background-color: -flatter-blue, derive(rgb(94.0, 203.0, 234.0), 80.0%);
    -fx-background-insets: 0.0, 0.15em;
}

.check-box:focused:armed > .box {
    -fx-background-color: -flatter-blue, derive(-fx-text-base-color, 80.0%);
    -fx-background-insets: 0.0, 0.15em;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate > .box > .mark {
    -fx-background-color: -dark;
}

.check-box:indeterminate > .box > .mark {
    -fx-background-insets: -0.06em -0.17em -0.07em -0.17em;
}

/*******************************************************************************
 *                                                                             *
 * RadioButton                                                                 *
 *                                                                             *
 ******************************************************************************/

.radio-button {
    -fx-text-fill: -fx-text-base-color;
}

.radio-button > .radio,
.radio-button > .radio.unfocused,
.radio-button:disabled > .radio,
.radio-button:selected > .radio {
    -fx-background-color: -fx-text-base-color;
    -fx-padding: 0.4em;
}

.radio-button:focused > .radio {
    -fx-background-color: -flatter-blue, derive(rgb(94.0, 203.0, 234.0), 80.0%);
    -fx-background-insets: 0.0, 0.15em;
    -fx-padding: 0.4em;
}

.radio-button:focused:armed > .radio {
    -fx-background-color: -flatter-blue, derive(-fx-text-base-color, 80.0%);
    -fx-background-insets: 0.0, 0.15em;
}

.radio-button:selected > .radio > .dot {
    -fx-background-color: -dark;
}


/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                                 *
 *                                                                             *
 ******************************************************************************/

.progress-bar > .track {
    -fx-background-color: -fx-text-base-color;
    -fx-background-radius: 2.0;
    -fx-padding: 0.0;
}

.progress-bar > .bar {
    -fx-background-color: -flatter-blue;
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

.progress-bar:indeterminate > .bar {
    -fx-background-color: derive(-flatter-blue, 50.0%);
    -fx-background-radius: 2.0;
    -fx-background-insets: 0.0;
    -fx-border-width: 0.0;
    -fx-effect: null;
}

/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/

.progress-indicator > .determinate-indicator > .indicator {
    -fx-background-color: rgb(255.0, 255.0, 255.0, 0.5);
    -fx-padding: 0.0;
}

.progress-indicator > .determinate-indicator > .progress {
    -fx-background-color:  -flatter-blue,  derive(-flatter-blue, 50.0%);
    -fx-background-insets: 0.0, 0.4em;
    -fx-padding: 1.0em;
}

.progress-indicator > .determinate-indicator > .percentage {
    -fx-fill: white;
    -fx-translate-y: -2.4em;
    -fx-padding: 0.0;
}

.progress-indicator > .indeterminate-indicator > .segment {
   -fx-background-color: rgb(0.0, 183.0, 221.0);
   -fx-scale-x: 0.05em;
   -fx-scale-y: 0.05em;
}
/***************************************/
/*   SCROLLPANE
/***************************************/

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}
/***************************************/
/*   DIALOGPANE
/***************************************/

.dialog {
    -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;
}
.dialog > .dialog-pane {
    -fx-background-color: -dark;
    -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;
}

.dialog > .dialog-pane > .button-bar {
    -fx-background-color: -dark;
}

.dialog > .dialog-pane > .content.label {
    -fx-background-color: -dark;
}

.dialog:header > .dialog-pane .header-panel {
    -fx-background-color: -dark;

}
.alert.information.dialog-pane {
   -fx-graphic: url("icons/dialog/infoIcon.png");
    -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;
}
.alert.error.dialog-pane {
    -fx-graphic: url("icons/dialog/errorIcon.png");
    -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;
}
.alert.confirmation.dialog-pane {
    -fx-graphic: url("icons/dialog/confirmationIcon.png");
    -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;
}
.alert.warning.dialog-pane {
    -fx-graphic: url("icons/dialog/warningIcon.png");
    -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;
}
/*******************************************************************************
 *                                                                             *
 * Command Link                                                                *
 *                                                                             *
 ******************************************************************************/
 /* For the text displayed above command-link buttons (but below the header) */
.command-links-dialog.dialog-pane{
    -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;
    -fx-font-family: 'Helvetica Neue';
    -fx-font-size: 1.16em;
    -fx-font-weight: 600;
    -fx-disabled-opacity: 0.6;
}

.command-links-dialog.dialog-pane > .container > .command-link-message {
    -fx-font-size: 1.25em;
}

.command-links-dialog.dialog-pane > .container > .command-link-button {
    -fx-padding: 10 10 10 10;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
    -fx-border-width: 2px;
}

.command-links-dialog.dialog-pane > .container > .command-link-button:hover {
    -fx-border-color: -transparent;
    -fx-background-color: derive(-flatter-red, 50.0%);

}

.command-links-dialog.dialog-pane > .container > .command-link-button:armed  {
    -fx-background-color: derive(-flatter-red, -20.0%);
}

.command-links-dialog.dialog-pane > .container > .command-link-button:default {
    -fx-border-color: -dark;
    -fx-background-color: -dark;
}

.command-links-dialog.dialog-pane > .container > .command-link-button:default:hover {
    -fx-border-color: -transparent;
    -fx-background-color: derive(-flatter-red, 50.0%);
}

.command-links-dialog.dialog-pane > .container > .command-link-button:default:armed {
    -fx-background-color: derive(-flatter-red, -20.0%);
}

.command-links-dialog.dialog-pane > .container > .command-link-button > .container > .line-1 {
    -fx-font-size: 1.25em;
    -fx-padding: -5 0 0 5;
}

.command-links-dialog.dialog-pane > .container > .command-link-button > .container > .line-2 {
    -fx-font-size: 1em;
    -fx-padding: 0 0 0 5;
}

.command-links-dialog.dialog-pane > .container > .command-link-button > .container > .graphic-container {
    -fx-padding: 10 10 0 0
}
/*
.progress-indicator:indeterminate .segment {
    -fx-shape:"M 71.079865,1.4240656 A 12.821762,12.821762 0 0 1 58.258103,14.245828 l -10e-7,-12.8217624 z";
    -fx-scale-shape: false;
}
/*******************************************************************************
 *                                                                             *
 * Custom Choice dialogs                                                            *
 *                                                                             *
 ******************************************************************************/
 /* For the text displayed above command-link buttons (but below the header) */
 .custom-choice-dialog.dialog-pane.header-panel {
    -fx-font-size: 1.37em;
 }
.custom-choice-dialog.dialog-pane,
.search-dialog.dialog-pane{
     -fx-border-color: derive(-flatter-red, 50.0%), derive(-flatter-red, -20.0%);
     -fx-border-width: 2px;
     -fx-font-family: 'Helvetica Neue';
     -fx-font-size: 1.16em;
     -fx-font-weight: 600;
     -fx-disabled-opacity: 0.6;
 }
.custom-choice-dialog.dialog-pane > .container > .vbox > .choice-button:hover,
.search-result-row:hover{
    -fx-border-color: -dark;
    -fx-background-color: derive(-flatter-red, 50.0%);

}
.custom-choice-dialog.dialog-pane > .container > .vbox > .choice-button,
.search-result-row{
       -fx-border-color: -dark;
       -fx-background-color: derive(-dark, 20%);
       -fx-border-width: 2px;

}
.custom-choice-dialog.dialog-pane > .container > .vbox > .choice-button,
.search-result-row.description-label{
       -fx-font-family: 'Helvetica Neue';
       -fx-font-size: 0.84em;
       -fx-font-weight: 600;
}


.custom-choice-dialog.dialog-pane > .container > .vbox > .choice-button,
.search-result-row.title-label{
       -fx-font-family: 'Helvetica Neue';
       -fx-font-size: 1.26em;
       -fx-font-weight: 600;
}


.custom-choice-dialog.dialog-pane > .container > .vbox > .choice-button:armed,
.search-result-row:armed,
.search-result-row:focused{
    -fx-background-color: derive(-flatter-red, -20.0%);
}

.custom-choice-dialog.dialog-pane > .container > .vbox > .choice-button:default,
.search-result-row:default{
    -fx-border-color: derive(-flatter-red, -20.0%);
    -fx-background-color: -dark;
}

.custom-choice-dialog.dialog-pane > .container > .vbox > .choice-button:default:hover,
.search-result-row:hover{
    -fx-border-color: -dark;
    -fx-background-color: derive(-flatter-red, 50.0%);
}

.custom-choice-dialog.dialog-pane > .container > .vbox > .choice-button:default:armed,
.search-result-row:armed{
    -fx-background-color: derive(-flatter-red, -20.0%);
}

/*******************************************************************************
 *                                                                             *
 * Separators                                                         *
 *                                                                             *
 ******************************************************************************/
 .separator .line {
    -fx-background: -flatter-red;
 }


/*******************************************************************************
 *                                                                             *
 * Tab                                                         *
 *                                                                             *
 ******************************************************************************/
 .tab-pane .tab-header-area .tab-header-background {
     -fx-opacity: 0;
 }
.tab .tab-label{
    -fx-alignment: CENTER;
    -fx-font-size: 1.37em;
}
.tab-pane .tab
{
    -fx-background-color: derive(-dark, 10.0%);
    -fx-border-color: transparent;
}
 .tab-pane .tab:default
  {
    -fx-border-color: transparent;
    -fx-background-color: derive(-dark, 10.0%);
  }
 .tab-pane .tab:selected
 {
    -fx-background-color: derive(-flatter-red, -20.0%);
 }
 .tab-pane .tab:hover
  {
    -fx-border-color: transparent;
    -fx-background-color: derive(-flatter-red, 50.0%);
  }
  .tab-content-area
  {
  -fx-background-color: derive(-dark, 10.0%);
  }
  .tab-pane.floating *.tab:selected
  {
  -fx-border-color: transparent;
  }
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#games-tilepane-title-label{
    -fx-font-size: 1.47em;
}

#console-text-area{
	-fx-background-color: derive(-dark, 20%);
	-fx-font-size: 0.84em;
	-fx-text-fill: -fx-text-base-color;
}

#game-cover-rating-label{
	-fx-font-size: 2em;
}

#game-cover-year-label{
	-fx-font-size: 1.47em;
}

#basic-info-label{
	-fx-font-size: 1.79em;
}

#advanced-setting-label{
	-fx-text-fill: derive(-flatter-red, -20.0%);
}

#selected-item{
	-fx-background-color: derive(-flatter-red, -20.0%);
}

#search-result-year-label{
	-fx-font-size: 18.0px;
	-fx-font-style: italic;
}

/************** MAIN SCENE BUTTONS ******************************/
#main-settings-button{
	-fx-image: url("icons/main/settings.png");
}

#main-sort-button{
	-fx-image: url("icons/main/sort.png");
}

#main-group-button{
	-fx-image: url("icons/main/group.png");
}

#main-add-button{
	-fx-image: url("icons/main/add.png");
}

#main-edit-button{
    -fx-image: url("icons/main/edit.png");
}

#scan-button{
	-fx-image: url("icons/main/scan.png");
}

/************TILES RELATED BUTTONS*******************/

#toaddtile-add-button{
	-fx-image: url("icons/tile/add.png");
}

#toaddtile-ignore-button{
	-fx-image: url("icons/tile/ignore.png");
}

#tile-play-button{
	-fx-image: url("icons/tile/play.png");
}

#tile-loading-button{
	-fx-image: url("icons/tile/loading.png");
	-fx-smooth: true;
}

#tile-info-button{
	-fx-image: url("icons/tile/info.png");
}

#tile-addAll-button{
	-fx-image: url("icons/tile/addAll.png");
}

#tile-todownload-overlay{
	-fx-image: url("icons/tile/toDownload.png");
}

/***************ARROWS****************/

#arrow-left-button{
	-fx-image: url("icons/arrow/left.png");
}

#arrow-right-button{
	-fx-image: url("icons/arrow/right.png");
}

#arrow-up-button{
	-fx-image: url("icons/arrow/up.png");
}

#arrow-down-button{
	-fx-image: url("icons/arrow/down.png");
}

/***************LAUNCHER****************/
#steam-icon{
	-fx-image: url("icons/launcher/steam.png");
}

#battlenet-icon{
	-fx-image: url("icons/launcher/battle.net.png");
}

#gog-icon{
	-fx-image: url("icons/launcher/gog.png");
}

#origin-icon{
	-fx-image: url("icons/launcher/origin.png");
}

#uplay-icon{
	-fx-image: url("icons/launcher/uplay.png");
}

#wii-icon{
	-fx-image: url("icons/launcher/wii.png");
}

#n64-icon{
	-fx-image: url("icons/launcher/n64.png");
}

#gamecube-icon{
	-fx-image: url("icons/launcher/gamecube.png");
}

#ps2-icon{
	-fx-image: url("icons/launcher/ps2.png");
}

#ps3-icon{
	-fx-image: url("icons/launcher/ps3.png");
}

#wiiu-icon{
	-fx-image: url("icons/launcher/wiiu.png");
}

/**************OTHERS****************/

#help-icon{
    -fx-image: url("icons/dialog/confirmationIcon.png");
}

#folder-button{
	-fx-image: url("icons/folder.png");
}

#search-button{
	-fx-image: url("icons/search.png");
}

#home-button{
	-fx-image: url("icons/home.png");
}

#sound-button{
	-fx-image: url("icons/sound.png");
}

#mute-button{
	-fx-image: url("icons/mute.png");
}

#background-mask{
	-fx-image: url("icons/backgroundMask.png");
}

/************* MENU DRAWER *****************/
#menu-bar{
	-fx-background-color: -dark;
	-fx-effect: innershadow( three-pass-box, black, 10, 0, 0, 0 );
}

#menu-button-bar{

}

.drawer-button:submenu-opened {
   -fx-background-color: derive(-dark, 10.0%);
}

.drawer-button{
   -fx-background-color: transparent;
}

.drawer-submenu{
   -fx-background-color: derive(-dark, 10.0%);
   -fx-border-width: 0 0 0 0;
   -fx-border-color: -flatter-red;
   -fx-border-insets: 20 0 0 0;
}

.drawer-submenu-title{
    -fx-font-weight: bold;
}

.button-drawer-item{
    -fx-font-size: 0.9em;
}

.text-drawer-item{
    -fx-background-color: transparent;
    -fx-font-size: 0.9em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.text-drawer-item:hover{
    -fx-text-fill: -flatter-red
}

.text-drawer-item:selected,
.text-drawer-item:armed{
    -fx-text-fill: -flatter-red
}

.checkbox-drawer-item {
    -fx-text-fill: -fx-text-base-color;
    -fx-font-size: 0.9em;
}

checkbox-drawer-item:hover{
    -fx-text-fill: -flatter-red
}

.checkbox-drawer-item > .box,
.checkbox-drawer-item > .box.unfocused,
.checkbox-drawer-item:disabled > .box,
.checkbox-drawer-item:selected > .box,
.checkbox-drawer-item:indeterminate > .box {
    -fx-background-radius: 2.0;
    -fx-background-color: -fx-text-base-color;
}

.checkbox-drawer-item:focused > .box {
    -fx-background-color: -flatter-red, derive(rgb(94.0, 203.0, 234.0), 80.0%);
    -fx-background-insets: 0.0, 0.15em;
}

.checkbox-drawer-item:focused:armed > .box {
    -fx-background-color: -flatter-red, derive(-fx-text-base-color, 80.0%);
    -fx-background-insets: 0.0, 0.15em;
}

.checkbox-drawer-item:selected > .box > .mark,
.checkbox-drawer-item:indeterminate > .box > .mark {
    -fx-background-color: -dark;
}

.checkbox-drawer-item:indeterminate > .box > .mark {
    -fx-background-insets: -0.06em -0.17em -0.07em -0.17em;
}

/************SEARCH BAR ******************/
#search-bar{
    -fx-background-color: -dark;
    -fx-effect: dropshadow( gaussian , black , 10,0,0,0 );
}

/******** LIST VIEW ****************/
.dark-list-view .list-cell:filled:selected:focused,
 .dark-list-view .list-cell:filled:selected {
    -fx-background-color: derive(-flatter-red, 0.0%);
    -fx-text-fill: -fx-text-base-color;
}

.dark-list-view .list-cell:even {
    -fx-background-color: -dark;
    -fx-text-fill: -fx-text-base-color;
}

.dark-list-view .list-cell:odd {
    -fx-background-color: derive(-dark, 20.0%);
    -fx-text-fill: -fx-text-base-color;
}

.dark-list-view .list-cell:filled:hover {
    -fx-background-color: derive(-flatter-red, 10.0%);;
    -fx-text-fill: -fx-text-base-color;
}

.dark-list-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
}